.container-chart{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  overflow:none;
}

.charts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.chart-card{
  background: #fff;
  margin-bottom: 5px;
  padding: 15px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  overflow: none;
  border-radius: 10px;
  
}

#bar-chart, #pie-chart{
  margin-top: 10px;
}
.chart-title{
  font-size: 15px;
  margin-left: 10px;
}

