
body{
    font-family: 'League Spartan', sans-serif;
    overflow: hidden;
}

.wave{
	position: fixed;
	bottom: 0;	
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
	max-width: 100%;
	height: 100vh;
	

}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;

	animation: transitionIn 2s;
}

.img img{
	width: 500px;
	animation: transitionIn2 2s;
}

form{
	width: 100%;

}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes transitionIn2 {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.quick-login{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.login-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 10px;
	
}

.login-logo img{
	margin-bottom: 10px;
}

.login-content h2{
	color: #333;
	text-transform: uppercase;


}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

#fb-btn, #google-btn{
	width: 100%;
	max-width: 100%;
	height: 50px;
	color: white;
	border-radius: 5px;
	margin: 5px;
	display: flex;
	align-items: center;
	gap: 20px;
}

#fb-btn:hover, #google-btn:hover{
	cursor: pointer;
	background-color: #2f4674;
}

.btn-container{
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;	
	border-radius: 5px 0px 0px 5px;
	text-align: center;
}

#fb-btn img, #google-btn img{
	width: 40%;
	height: 100%;
}

#fb-btn{
	background-color: #4267b2;
	border: 1px solid rgb(66,103,178)
}

#google-btn{
	background-color: #4285f4;
	border: 1px solid rgb(66,133,244);
}


.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
  position: relative;
	height: 30px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #40D60B;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #40D60B;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	
	color: #555;
	font-family: 'League Spartan', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

input[type='text'], input[type='password']{
  font-family: 'League Spartan', sans-serif;
	font-size: 20px;
	padding-left: 10px;
	margin-bottom: 10px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #40D60B;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #40D60B, #047420, #40D60B);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}

.alert{
	color: rgb(255, 28, 28);
	background-color: rgb(245, 184, 184);
	border: 1px solid rgb(255, 28, 28);
	text-align:left;
	font-size: 1rem;
	padding: 20px;
	border-radius: 5px;
}

.alert p{
	text-align:left;
	font-size: 18px;
}

@media only screen and (max-width: 600px)  {
	.wave{
		height:30%;
	}
	.container{
		display: flex;
		justify-content: center;
		align-items: center;
		gap:10px;
		padding: 10px;
		flex-direction: column;
	}
	.img{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px;
	}
	.img img{
		width: 10%;
	}
	.login-content{
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h2,h3,h5	{
		font-size: 100%;
	}
	form{
		width: 100%;
	}

	.btn{
		box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
	}
}

@media only screen and (min-width: 601px)  {
	.wave{
		height: 60%;
	}
	.container{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		gap:20px;
		padding: 10px;
	}	.img{
		width: 30%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px;
	}
	.img img{
		width: 100%;
	}
	h2,h5	{
		font-size: 150%;
	}
	.form-container{
		width: 100%
	}

	.login-content{
		width: 30%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

}