
.formContainer{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.row1, .row2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.form1, .form2, .form3{
  padding: 10px;
  width:100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap:10px;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 20px;
  margin: 10px;
} 
input{
  width: 70%;
  height: 40px;
  margin-bottom: 5px;
}.form3{
  width: 100%;
  flex-direction: row;}

.sub-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form3 input{
  width: 100%;
}

.add-btn{
  margin: 50px;
}